# 지난 시즌간 팀별 승리 횟수 분석

### mysql 의 'epl' database 연결

In [2]:
import mysql.connector
import csv
import pandas as pd

mydb = mysql.connector.connect(
    host="localhost",
    user="kiku",
    password="elsd4988",
    database="epl"
)

### LiverpoolWins 테이블 생성
LiverpoolWins 테이블은 지난 시즌동안 리버풀이 승리한 경기의 시즌, 홈팀, 어웨이팀, 승리팀 데이터를 저장

In [ ]:
sql = "CREATE TABLE LiverpoolWins (id INT AUTO_INCREMENT PRIMARY KEY, season VARCHAR(255), hometeam VARCHAR(255), awayteam VARCHAR(255), FTR VARCHAR(255))"
mycursor = mydb.cursor()
mycursor.execute(sql)

### LiverPoolWins.csv 데이터 삽입
리버풀이 지난 시즌동안 승리한 경기 데이터를 LiverPoolWins 테이블에 삽입

In [ ]:
mycursor = mydb.cursor(prepared=True)

sql = "INSERT INTO LiverpoolWins (season, hometeam, awayteam, FTR) VALUES (%s, %s, %s, %s)"

f = open('LiverpoolWins.csv', 'r', encoding='latin1')
rd = csv.reader(f)

for row in rd :
    season = (row[0])
    hometeam = (row[1])
    awayteam = (row[2])
    FTR = (row[3])

    val = (season, hometeam, awayteam, FTR)

    mycursor.execute(sql, val)  

mydb.commit()

### LiverpoolWins 테이블에서 시즌별 리버풀 승리 횟수 출력

In [7]:
mycursor = mydb.cursor()
mycursor.execute("select season, count(season) from LiverpoolWins group by season")
myresult = mycursor.fetchall()
liverpoolWins=[]
for x in myresult:
    liverpoolWins.append(x)
    print(x)

('season', 1)
('Jan-00', 20)
('01-Feb', 24)
('02-Mar', 18)
('03-Apr', 16)
('04-May', 17)
('05-Jun', 25)
('06-Jul', 20)
('07-Aug', 21)
('08-Sep', 25)
('09-Oct', 18)
('10-Nov', 17)
('11-Dec', 14)
('2012-13', 16)
('2013-14', 26)
('2014-15', 18)
('2015-16', 16)
('2016-17', 22)
('2017-18', 21)
('2018-19', 30)
('2019-20', 32)
('2020-21', 20)
('2021-22', 22)

### ArsenalWins 테이블 생성
ArsenalWins 테이블은 지난 시즌동안 아스날이 승리한 경기의 시즌, 홈팀, 어웨이팀, 승리팀 데이터를 저장

In [ ]:
sql = "CREATE TABLE ArsenalWins (id INT AUTO_INCREMENT PRIMARY KEY, season VARCHAR(255), hometeam VARCHAR(255), awayteam VARCHAR(255), FTR VARCHAR(255))"
mycursor = mydb.cursor()
mycursor.execute(sql)

### ArsenalWins.csv 데이터 삽입
아스날이 지난 시즌동안 승리한 경기 데이터를 ArsenalWins 테이블에 삽입

In [8]:
mycursor = mydb.cursor(prepared=True)

sql = "INSERT INTO ArsenalWins (season, hometeam, awayteam, FTR) VALUES (%s, %s, %s, %s)"

f = open('ArsenalWins.csv', 'r', encoding='latin1')
rd = csv.reader(f)

for row in rd :
    season = (row[0])
    hometeam = (row[1])
    awayteam = (row[2])
    FTR = (row[3])

    val = (season, hometeam, awayteam, FTR)

    mycursor.execute(sql, val)  

mydb.commit()

### ArsenalWins 테이블에서 시즌별 아스날 승리 횟수 출력

In [3]:
mycursor = mydb.cursor()
mycursor.execute("select season, count(season) from ArsenalWins group by season")
myresult = mycursor.fetchall()
arsenalWins=[]
for x in myresult:
    arsenalWins.append(x)
    print(x)

('season', 2)
('Jan-00', 40)
('01-Feb', 52)
('02-Mar', 46)
('03-Apr', 52)
('04-May', 50)
('05-Jun', 40)
('06-Jul', 38)
('07-Aug', 48)
('08-Sep', 40)
('09-Oct', 46)
('10-Nov', 38)
('11-Dec', 42)
('2012-13', 42)
('2013-14', 48)
('2014-15', 44)
('2015-16', 40)
('2016-17', 46)
('2017-18', 38)
('2018-19', 42)
('2019-20', 28)
('2020-21', 36)
('2021-22', 34)

### ChelseaWins 테이블에서 시즌별 첼시 승리 횟수 출력

In [23]:
mycursor = mydb.cursor()
mycursor.execute("select season, count(season) from ChelseaWins group by season")
myresult = mycursor.fetchall()
chelseaWins=[]
for x in myresult:
    chelseaWins.append(x)
    print(x)

('season', 1)
('Jan-00', 17)
('01-Feb', 17)
('02-Mar', 19)
('03-Apr', 24)
('04-May', 29)
('05-Jun', 29)
('06-Jul', 24)
('07-Aug', 25)
('08-Sep', 25)
('09-Oct', 27)
('10-Nov', 21)
('11-Dec', 18)
('2012-13', 22)
('2013-14', 25)
('2014-15', 26)
('2015-16', 12)
('2016-17', 30)
('2017-18', 21)
('2018-19', 21)
('2019-20', 20)
('2020-21', 19)
('2021-22', 18)

### ManUnited 테이블에서 시즌별 맨체스터 유나이티드 승리 횟수 출력

In [10]:
mycursor = mydb.cursor()
mycursor.execute("select season, count(season) from ManUnitedWins group by season")
myresult = mycursor.fetchall()
manUnitedWins=[]
for x in myresult:
    manUnitedWins.append(x)
    print(x)

('season', 1)
('Jan-00', 24)
('01-Feb', 24)
('02-Mar', 25)
('03-Apr', 23)
('04-May', 22)
('05-Jun', 25)
('06-Jul', 28)
('07-Aug', 27)
('08-Sep', 28)
('09-Oct', 27)
('10-Nov', 23)
('11-Dec', 28)
('2012-13', 28)
('2013-14', 19)
('2014-15', 20)
('2015-16', 19)
('2016-17', 18)
('2017-18', 25)
('2018-19', 19)
('2019-20', 18)
('2020-21', 21)
('2021-22', 14)

In [15]:
mycursor = mydb.cursor()
mycursor.execute("select count(*) from total where (hometeam = 'Arsenal' && FTR = 'H')")
myresult = mycursor.fetchall
manUnitedWins1=[]
for x1 in myresult:
    manUnitedWins1.append(x1)
    print(x1)

TypeError: 'method' object is not iterable

In [4]:
df = pd.DataFrame(myresult, columns=['season', 'win'])
print(df)

     season  win
0    season    2
1    Jan-00   40
2    01-Feb   52
3    02-Mar   46
4    03-Apr   52
5    04-May   50
6    05-Jun   40
7    06-Jul   38
8    07-Aug   48
9    08-Sep   40
10   09-Oct   46
11   10-Nov   38
12   11-Dec   42
13  2012-13   42
14  2013-14   48
15  2014-15   44
16  2015-16   40
17  2016-17   46
18  2017-18   38
19  2018-19   42
20  2019-20   28
21  2020-21   36
22  2021-22   34